.prosemirror-editor {
  a {
    color: inherit;
    cursor: text;
    text-decoration: underline;
    text-decoration-color: hsl(var(--brand) / 0.6);
    text-underline-offset: 2px;

    &.mention {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }

    &.mention:hover {
      color: inherit;
    }

    &.mention:hover::after,
    &.mention:hover::before {
      display: none;
    }

    &:hover {
      text-decoration-color: hsl(var(--brand));
      cursor: pointer;
    }
  }
}
