.prosemirror-editor {
  /* highlight */
  mark {
    background-color: hsl(var(--brand) / 0.3);
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
    color: inherit;
  }
}
